<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cat.mapper.ArticleTagRefMapper">
  <!-- 添加文章和标签的关联 -->
  <insert id="addArticleTag" >
    insert into  article_tag_ref   (article_id, tag_id) values (#{articleId}, #{tagId}) 
  </insert>
  
   <!--根据标签ID得到对应的文章数量 -->
   <select id="countArticleByTagId"  resultType="int">
   	 select count(*) from   article_tag_ref   where tag_id = #{value}
   </select>
   
   <!-- 删除文章和标签的关联 (通常用在更新或删除文章的时候) -->
    <delete id="deleteByArticleId" parameterType="java.lang.Integer">
        delete from article_tag_ref   where article_id = #{value}
    </delete>
   
   <!-- 得到某个文章关联到的所有tag -->
   <select id="listTagByArticleId" parameterType="int" resultType="Tag">
  		select * from tag where  tag_id in(select  tag_id from article_tag_ref where  article_id=#{value})
   </select>
  
</mapper>